<!DOCTYPE html>
<html lang="en">

  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Data Source</title>

    <!-- Bootstrap core CSS -->
    <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="static/css/one-page-wonder.min.css" rel="stylesheet">
    <link href="static/css/one-page-wonder.css" rel="stylesheet">

    <!-- Leaflet CSS & JS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
    integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
    integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
    crossorigin=""></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css" integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ==" crossorigin="" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.css" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet.markercluster@1.3.0/dist/MarkerCluster.Default.css" />
  
    <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js" integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw==" crossorigin=""></script>
    <script src="https://unpkg.com/leaflet.markercluster@1.3.0/dist/leaflet.markercluster.js"></script>
  
    <!-- D3 JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.11.0/d3.js"></script>

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/one-page-wonder.css">
    <link rel="stylesheet" type="text/css" href="static/css/one-page-wonder.min.css">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">

    <!-- Icon Issue --> 
    <link rel="shortcut icon" href="#" />
    

  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark navbar-custom fixed-top">
      <div class="container">
        <a class="navbar-brand" href="/">Project 2</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">

            <li class="nav-item">
              <a class="nav-link" href="https://github.com/gblack686/Project2_UCI">GitHub</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="LM.html">Learn More</a>
            </li>

            <li class="nav-item">
              <a class="nav-link" href="Datasource.html">Data Source</a>
            </li>

          </ul>
        </div>
      </div>
    </nav>

    <header <a style="color:rgb(235, 102, 102); font-size: 35px; text-align: center;">

            <!-- <div  style="height: 300px; padding-top: 200px;">
             <div class="container">
                <h1 style="font-family: cursive">About our Project</h1>
             </div>
            </div> -->

            <div class="jumbotron">
              <h1>Hello, world!</h1>
                <p>...</p>
                <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
            </div>
    
    
          </header>

    <!-- image data source 1 -->
    <!-- <One Pager (Project Content)> -->
      
                  <h1 style="text-align: center;" > The Team</h1>
      
                  <p <a style="text-align: center; font-size: 22px;"> 
                   Kristen N. Broersma,
                   Greg Black, 
                   Daniel Dong & 
                   Jimmy Fung</p>

              <!-- <image Gallery > -->
                 <div class="container" style="padding: 40px;" >
                  <div class="row align-items-center">

                    <div class="col-lg-4 order-lg-2">
                      <img class="img-fluid rounded" src="static/img/Green.jpg" hspace="20" style="width:350px;height:200px;">
                    </div>

                    <div class="col-lg-4 order-lg-2">
                      <img class="img-fluid rounded" src= "static/img/Mansion.jpg" hspace="20" style="width:350px;height:200px;"> 
                    </div>

                    <div class="col-lg-4 order-lg-2">
                      <img class="img-fluid rounded" src= "static/img/brown.jpg" hspace="20" style="width:350px;height:200px;">
                    </div>

                  </div>
                 </div>



          <section>
            <div class="container" style="padding: 30px;" >
      
                    <h1 style="text-align: center;">The Goal </h1>
      
                    <p  <a style="text-align: center; font-size: 20px; line-height: 20px;" a> 
                          Our project is designed to provide users a visual analysis of new homes available in the market. Users will be able <br></br>to select their dream home based on their preference and affordability. 
                    </p>
                
            </div>
          </section>
      
      
                  
        <section>
            <div class="container">
              <div class="row justify-content-md-center">
                <img  src="static/img/Newport_Beach.jpg" hspace="320" style="width:600px;height:300px;" >
              </div>
                 
             </div>
        </section>

        <section>
                <div class="container" style="margin: 90px;">
                    <h1 style="text-align: center" >Important data you can find</h1>
                        <ol<a style="text-align: center; font-size: 20px; line-height: 25px; font-weight: 100px;">
                              <li>New Home Prices</li>
                              <li>Home Sizes</li>
                              <li>Location</li>
                              <li># Bed  /  #Baths</li>
                        </ol>
                    
                  
                </div>
            
            </div>
        </section>

    <!-- Footer -->
    <footer class="py-5 bg-black">
      <div class="container">
        <p class="m-0 text-center text-white small">Copyright &copy; Your Website 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="static/vendor/jquery/jquery.min.js"></script>
    <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- API KEY -->
    <script type="text/javascript" src="static/js/config.js"></script>

    <!-- Our JS -->
    <script type="text/javascript" src="static/js/logic.js"></script>


  </body>

</html>
